#config
FilterScreenStack:Population data:begin
[Population data:description]
# author: shenyulan ( shenyulan@genomics.cn )
#
#ESP6500_AC(<0),ESP6500_AF(>1),ESP6500_EA_AC(<0),ESP6500_EA_AF(>1),ESP6500_AA_AC(<0),ESP6500_AA_AF(>1)

#Gp3_1000_AC(<0),Gp3_1000_AF(>1),Gp3_1000_EAS_AF(>1),Gp3_1000_AMR_AF(>1),Gp3_1000_AFR_AF(>1),Gp3_1000_EUR_AF(>1),Gp3_1000_SAS_AF(>1)

#ExAC_AC(<0),ExAC_AF(>1),ExAC_AFR_AC(<0),ExAC_AFR_AF(>1),ExAC_AMR_AC(<0),ExAC_AMR_AF(>1),ExAC_Adj_AC(<0),ExAC_Adj_AF(>1),ExAC_EAS_AC(<0)),ExAC_EAS_AF(>1),ExAC_FIN_AC(<0),ExAC_FIN_AF(>1),ExAC_NFE_AC(<0),ExAC_NFE_AF(>1),ExAC_OTH_AC(<0),ExAC_OTH_AF(>1),ExAC_SAS_AC(<0),ExAC_SAS_AF(>1),

#gnomAD_exomes_AC(<0),gnomAD_exomes_AF(>1),gnomAD_exomes_AFR_AC(<0),gnomAD_exomes_AFR_AF(>1),gnomAD_exomes_AMR_AC(<0),gnomAD_exomes_AMR_AF(>1),gnomAD_exomes_ASJ_AC(<0),gnomAD_exomes_ASJ_AF(>1),gnomAD_exomes_EAS_AC(<0),gnomAD_exomes_EAS_AF(>1),gnomAD_exomes_FIN_AC(<0),gnomAD_exomes_FIN_AF(>1),gnomAD_exomes_NFE_AC(<0),gnomAD_exomes_NFE_AF(>1),gnomAD_exomes_OTH_AC(<0),gnomAD_exomes_OTH_AF(>1),

#gnomAD_genome_AC(<0),gnomAD_genome_AF(>1),gnomAD_genome_AFR_AC(<0),gnomAD_genome_AFR_AF(>1),gnomAD_genome_AMR_AC(<0),gnomAD_genome_AMR_AF(>1),gnomAD_genome_ASJ_AC(<0),gnomAD_genome_ASJ_AF(>1),gnomAD_genome_EAS_AC(<0),gnomAD_genome_EAS_AF(>1),gnomAD_genome_FIN_AC(<0),gnomAD_genome_FIN_AF(>1),gnomAD_genome_NFE_AC(<0),gnomAD_genome_NFE_AF(>1),gnomAD_genome_OTH_AC(<0),gnomAD_genome_OTH_AF(>1),

#MDD_12000_AC(<1),MDD_12000_AF(<1),

#Kaviar_AC(<1),Kaviar_AF(<1),

#SISI_cg_AC(<1),SISI_cg_AF(<1),SISI_illumina_AC(<1),SISI_illumina_AF

[Population data:default]
# variant with allele frequency met the threshold will be filtered, only 'greater than operator' is supported now.
# AF(>0.005)
ESP6500_AF(>0.001),Gp3_1000_AF(>0.001),ExAC_AF(>0.001),gnomAD_exomes_AF(>0.001)
db_count_threshold(>2)
#ESP6500_AF(>0.001),Gp3_1000_AF(>0.001),ExAC_AF(>0.001),gnomAD_exomes_AF(>0.001),gnomAD_genome_AF(>0.001),Kaviar_AF(>0.001),SISI_cg_AF(>0.001),ExAC_AC(>1)
#ESP6500_AF(>0.001),Gp3_1000_AF(>0.001),ExAC_AF(>0.001),gnomAD_exomes_AF(>0.001),gnomAD_genome_AF(>0.001)
#ESP6500_AF(>0.005),Gp3_1000_AF(>0.005),ExAC_AF(>0.005),gnomAD_exomes_AF(>0.005),gnomAD_genome_AF(>0.005)

#[Population data:user defined]
#ESP6500_AF(>0.005),Gp3_1000_AF(>0.005),ExAC_AF(>0.005),gnomAD_exomes_AF(>0.005),gnomAD_genome_AF(>0.005)
FilterScreenStack:Population data:end

FilterScreenStack:Gene element:begin
[Gene element:description]
    transcript_ablation(HIG:1)
    splice_acceptor_variant(HIG:2)
    splice_donor_variant(HIG:3)
    stop_gained(HIG:4)
    frameshift_variant(HIG:5)
    stop_lost(MED:6")
    initiator_codon_variant(MED:7)
    start_lost(MED:7)
    transcript_amplification(MED:8)
    inframe_insertion(MED:9)
    inframe_deletion(MED:10)
    missense_variant(MED:11)
    splice_region_variant(MED:12)
    incomplete_terminal_codon_variant(MED:13)
    stop_retained_variant(LOW:14)
    synonymous_variant(LOW:15)
    coding_sequence_variant(LOW:16)
    mature_miRNA_variant(LOW:17)
    5_prime_UTR_variant(LOW:18)
    3_prime_UTR_variant(LOW:19)
    non_coding_transcript_exon_variant(LOW:20)
    non_coding_exon_variant(LOW:20)
    intron_variant(LOW:21)
    NMD_transcript_variant(LOW:22)
    non_coding_transcript_variant(LOW:23)
    nc_transcript_variant(LOW:23)
    upstream_gene_variant(LOW:24)
    downstream_gene_variant(LOW:25)
    TFBS_ablation(LOW:26)
    TFBS_amplification(LOW:27)
    TF_binding_site_variant(LOW:28)
    regulatory_region_ablation(LOW:29)
    regulatory_region_amplification(LOW:30)
    feature_elongation(LOW:31)
    regulatory_region_variant(LOW:32)
    feature_truncation(LOW:33)
    intergenic_variant(LOW:34)

[Gene element:default]
# variant with concequence included in this list will be saved.
most_severe:transcript_ablation(HIG:1),splice_acceptor_variant(HIG:2),splice_donor_variant(HIG:3),stop_gained(HIG:4),frameshift_variant(HIG:5),stop_lost(MED:6),initiator_codon_variant(MED:7),start_lost(MED:7),transcript_amplification(MED:8),inframe_insertion(MED:9),inframe_deletion(MED:10),missense_variant(MED:11)

#canonical:most_severe:transcript_ablation(HIG:1),splice_acceptor_variant(HIG:2),splice_donor_variant(HIG:3),stop_gained(HIG:4),frameshift_variant(HIG:5),stop_lost(MED:6),initiator_codon_variant(MED:7),start_lost(MED:7),transcript_amplification(MED:8),inframe_insertion(MED:9),inframe_deletion(MED:10),missense_variant(MED:11)

#disease_associated:most_severe:transcript_ablation(HIG:1),splice_acceptor_variant(HIG:2),splice_donor_variant(HIG:3),stop_gained(HIG:4),frameshift_variant(HIG:5),stop_lost(MED:6),initiator_codon_variant(MED:7),start_lost(MED:7),transcript_amplification(MED:8),inframe_insertion(MED:9),inframe_deletion(MED:10),missense_variant(MED:11)

[Gene element:user defined]
#transcript_ablation(HIG:1),splice_acceptor_variant(HIG:2),splice_donor_variant(HIG:3),stop_gained(HIG:4),frameshift_variant(HIG:5),stop_lost(MED:6),initiator_codon_variant(MED:7),start_lost(MED:7),transcript_amplification(MED:8),inframe_insertion(MED:9),inframe_deletion(MED:10),missense_variant(MED:11),splice_region_variant(MED:12),incomplete_terminal_codon_variant(MED:13),stop_retained_variant(LOW:14),synonymous_variant(LOW:15),coding_sequence_variant(LOW:16),mature_miRNA_variant(LOW:17),5_prime_UTR_variant(LOW:18),3_prime_UTR_variant(LOW:19),non_coding_transcript_exon_variant(LOW:20),non_coding_exon_variant(LOW:20),intron_variant(LOW:21)

FilterScreenStack:Gene element:end

FilterScreenStack:Segregation data:begin
[Segregation data:description]

[Segregation data:default]
AD
[Segregation data:user defined]

FilterScreenStack:Segregation data:end
